# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
ton.dns
ton.dns/*
# Editor directories and files
.vscode/*
!.vscode/extensions.json

./simple-counter/node_modules
./simple-counter/build
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
