.container {
    display: grid; /* grid containers */
    grid-template-columns: repeat(4, 1fr); /* four columns */
    grid-template-rows: repeat(4, 1fr); /* four rows */
    grid-auto-flow: column; /* in column direction */
    border: 1px solid black;
  }
  
  .column {
    display: contents; /* the child elements would be grid items */
    border: 1px solid black;
  }
  
  .cell {
    border: 1px solid black;
    padding: 5px;
  }
  
  .tableWrapper {
    width: fit-content;
    border-radius: 12px;
    border: 1px solid rgba(132, 132, 132, 0.283);
    width: 100%;
  }

  .tableContainer {
    margin: 51px 0;
    text-align: left;
  }

  .tableContainer label {
    margin: 10px 0;
    color: rgb(184, 192, 199);
  }
  
  .table {
    color: rgb(249, 249, 249);
    width: 100%;
    text-align: center;
  }
  
  .thead {
    border-radius: 12px;
    border-bottom: 1px solid rgba(132, 132, 132, 0.283);
  }
  
  .th {
    padding: 15px;
  }
  
  .th:first-child {
    text-align: left;
  }
  
  @media only screen and (max-width: 768px) {
    .th {
      font-size: 14px;
      padding: 10px;
      white-space: nowrap;
    }
  }